@font-face {
    font-family: 'VISTASANSBOOK1361506783';
    src: url('../fonts/VISTASANSBOOK1361506783.eot');
    src: url('../fonts/VISTASANSBOOK1361506783.eot') format('embedded-opentype'),
         url('../fonts/VISTASANSBOOK1361506783.woff2') format('woff2'),
         url('../fonts/VISTASANSBOOK1361506783.woff') format('woff'),
         url('../fonts/VISTASANSBOOK1361506783.ttf') format('truetype'),
         url('../fonts/VISTASANSBOOK1361506783.svg#VISTASANSBOOK1361506783') format('svg');
}
.header-nav-section{

	background:url('../images/banner.png');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	width:100%;
	height:500px;
}
.logo-img{

	width:145px;
}
.navbar-default{

	background-color:rgba(255,0,0,0) !important;
	border-color:rgba(255,0,0,0) !important;
}
.navbar-nav{

	margin-top:25px;
}
.navbar-nav > li > a{

	font-family: 'VISTASANSBOOK1361506783';
	font-size:14px;
	color:#ffffff !important;
}
.navbar-brand {

	padding:0px 15px !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{

	background-color:#888585;
}
.post-ads{

	width:140px;
}
.btn-default{

	border:none;
}
.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default{

	background-color:#f69200 !important;
}
.post-ads-btn:hover{

	background-color:#f69200 !important;	
}
.post-ads-btn{

	width:100%;
	height:30px !important;
	background-color:#f69200;
	font-family: 'VISTASANSBOOK1361506783';
	font-size:16px;
	color:#ffffff !important;
	border-radius: 0px !important;
}
.register-li{

	border-right:1px #ffffff solid;
}
.navbar-nav > li > a {

    padding-bottom: 0px !important;
    padding-top: 0px !important;
}
.navbar-nav > li {
    
    margin-top: 5px;
}
.post-ads-li{

	margin-top: 0px !important;	
}

.banner-text{

	float:left;
	width:100%;
	text-align:center;
	margin-top: 55px;
}
.banner-text-necesitas{

	font-family: 'VISTASANSBOOK1361506783';
	font-size:70px;
	color:#ffffff;
	line-height:60px;
}
.banner-text-busca{

	font-family: 'VISTASANSBOOK1361506783';
	font-size:20px;
	color:#ffffff;	
}
.circle-form{

	float:left;
	width:100%;
	text-align:center;
	margin-top:50px;
}
.circle-form-inner{

	display:inline-block;
}
.circle-form-tutor-main{
	
	float:left;	
	width:140px;
	text-align:center;
}
.circle-form-student-main{

	float:left;	
	width:140px;
	text-align:center;	
	margin-left: 200px;
}
.circle-form-exchange-main{

	float:left;	
	width:140px;
	text-align:center;		
	margin-left: 200px;
}

.circle-form-tutor-text{

	font-family: 'VISTASANSBOOK1361506783';
	font-size:16px;
	color:#ffffff;	
	margin-top:10px;
}
.circle-form-tutor{

	width:60px;
	height:60px;
	border-radius:50%;
	border:1px #ffffff solid;
	display: inline-block;
	padding:15px;
}
.active-form{

	background-color:#f59300;
	border:1px #f59300 solid !important;
}

.display-none{
	display:none;
}
.circle-form-student{

	width:60px;
	height:60px;
	border-radius:50%;
	border:1px #ffffff solid;
	display: inline-block;
	padding:15px;
}
.circle-form-exchange{

	width:60px;
	height:60px;
	border-radius:50%;
	border:1px #ffffff solid;
	display: inline-block;
	padding:15px;
}
.show-form-inner {
	
    margin-top: 35px;
}
.keyword-control{

	width:360px !important;
	border-radius:0px !important;
	display: inline-block;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){

	width:180px;
}
.state-select{

	border-radius:0px !important;
}
.location-select{

	border-radius:0px !important;
}
.btn{

	border-radius:0px;
}
.search-btn{

	width:154px !important;
	background-color:#f69200 !important;
	font-family: 'VISTASANSBOOK1361506783';
	font-size:16px;
	color:#ffffff;	
}
.how-it-work-section{

	padding-top:35px;
	padding-bottom:35px;
	text-align:center;
}
.how-it-work-div{

	display:inline-block;
	width: 960px;
}
.how-it-work{

	font-family: 'VISTASANSBOOK1361506783';
	font-size:36px;
	color:#173248;
}
.how-it-work-tabbing {
	
    text-align: center;
    width: 100%;
}
.nav-tabs{

	border:1px #f69200 solid;
	margin-bottom: 30px;
    margin-top: 30px;
}

.tab-nav{

	width:200px;
	display:inline-block;
}
.nav-tabs > li{

	margin-bottom:0px;
}
.nav-tabs > li > a{

	font-family: 'VISTASANSBOOK1361506783';
	font-size:12px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{

	border:1px #ffffff solid;
	background-color:#f69200;
}
.tab-nav-div {
    text-align: center;
    width: 100%;
}
.tab-content{

	text-align:center;
}
.tab-student-main{

	display:inline-block;
}
.tab-student-one-main{

	float:left;
	margin-right:160px;	
}
.tab-student-one{

	width:90px;
	height:90px;
	border-radius:50%;
	background-color:#a71380;
	display: inline-block;
	text-align:center;
	position:relative;
}
.tab-student-one-div{

	position:absolute;
	top:25%;
	left:43%;
	font-family: 'VISTASANSBOOK1361506783';
	font-size:34px;
	color:#ffffff;
}
.form-img{

	left: -25px;
    position: absolute;
    top: 20px;
}
.tab-student-two-main{

	float:left;
	margin-right:160px;
}
.tab-student-two{

	width:90px;
	height:90px;
	border-radius:50%;
	background-color:#173249;
	display: inline-block;
	text-align:center;
	position:relative;
}
.tab-student-two-div{

	position:absolute;
	top:25%;
	left:43%;
	font-family: 'VISTASANSBOOK1361506783';
	font-size:34px;
	color:#ffffff;
}
.tab-student-three-main{

	float:left;
}
.tab-student-three{

	width:90px;
	height:90px;
	border-radius:50%;
	background-color:#f69200;
	display: inline-block;
	text-align:center;
	position:relative;
}
.tab-student-three-div{

	position:absolute;
	top:25%;
	left:43%;
	font-family: 'VISTASANSBOOK1361506783';
	font-size:34px;
	color:#ffffff;
}
.tab-student-register{

	font-family: 'VISTASANSBOOK1361506783';
	font-size:17px;
	color:#0d3147;
	margin-top:10px;
}
.learn-more-btn{

	background-color:#a71380;
	width:265px;
	border-radius: 20px !important;
	margin-top:30px;
	font-family: 'VISTASANSBOOK1361506783';
	font-size:20px;
	color:#ffffff;
}
.learn-more-btn:hover{

	background-color:#a71380 !important;
}

.learn-today-section{

	float:left;
	width:100%;
	background-color:#f69200;
	padding-top:30px;
	padding-bottom:30px;
	height:auto;
	text-align:center;
}
.learn-today-div{

	width:960px;
	display:inline-block;
}
.learn-today-upper{

	font-family: 'VISTASANSBOOK1361506783';
	font-size:36px;
	color:#ffffff;
}
.learn-today-slider{

	margin-top:60px;
	margin-bottom:60px;
}
.owl-prev {

	margin-left: -40px;
    position: absolute;
    top: 15px;
}
.owl-next {

	margin-right: -20px;
    position: absolute;
    right: 0;
    top: 15px;
}
.fa-chevron-left{

	color:#ffffff !important;
}
.fa-chevron-right{

	color:#ffffff !important;
}
.owl-content-div{

	float:left;
}
.owl-content-img{

	float:left;
	width:40px;	
	height:40px;
}
.owl-content-text{

	float:left;
	width:110px;
	font-family: 'VISTASANSBOOK1361506783';
	font-size:15px;
	color:#ffffff;		
	text-align:left;
	margin-left:10px;
}
.use-btc-section{

	float:left;
	width:100%;
	background-color:#ffffff;
	padding-top:30px;
	padding-bottom:30px;
	height:auto;
	text-align:center;
}
.use-btc-div{

	width:960px;
	height:auto;
	display:inline-block;
}
.use-btc-upper{

	font-family: 'VISTASANSBOOK1361506783';
	font-size:36px;
	color:#a61380;
}
.use-btc-slider{

	margin-top:60px;
	margin-bottom:30px;
	width:100%;
}
.pink{

	color:#a61380 !important;
}
.owl-content-btc-img{

	width:40px;
	height:40px;
	display:inline-block;
}
.owl-content-btc-text{

	margin-top:15px;
	margin-bottom:15px;
	font-family: 'VISTASANSBOOK1361506783';
	font-size:15px;
	color:#a61380;
}
.owl-content-btc-p{

	font-family: 'VISTASANSBOOK1361506783';
	font-size:12px;
	color:#666666;	
}
.popular-ads-section{

	float:left;
	width:100%;
	text-align:center;
}
.popular-ads-div{

	width:960px;
	display:inline-block;
	padding:30px;
}
.popular-ads-title{

	font-family: 'VISTASANSBOOK1361506783';
	font-size:36px;
	color:#173248;
}
.popular-ads-books-upper-main{

	float:left;
	width:100%;
	margin-top:50px;
}
.popular-ads-books-lower-main{

	float:left;
	width:100%;	
	margin-top:35px;
}
.popular-ads-books{
	
	float:left;
	width:25%;
	display:inline-block;
	text-align:left;	
}
.popular-ads-books-first{

	float:left;
	// width:25%;
}
.popular-ads-books-last{

	float:right;
	// width:25%;
}
.img-book{

	height:65px;
	width:65px;
}
.popular-ads-books-left{

	float:left;
}
.popular-ads-books-right{

	float:left;	
	width:105px;
	margin-left:10px;
}
.popular-ads-books-right-upper{

	font-family: 'VISTASANSBOOK1361506783';
	font-size:14px;
	color:#0d3147;
}
.popular-ads-books-right-lower{

	font-family: 'VISTASANSBOOK1361506783';
	font-size:14px;
	color:#666666;
	margin-top:10px;	
}
.btn-teach{

	width:260px;
	background-color:#173249;
	color:#ffffff;
	font-family: 'VISTASANSBOOK1361506783';
	font-size:16px;
	border-radius:20px;
	margin-top:30px;
}
.btn-teach:hover{

	background-color:#173249 !important;
	color:#ffffff;	
}
.i-demo-section{

	float:left;
	width:100%;
	padding-top:30px;
	padding-bottom:30px;
}
.i-demo-div-left {

	float:left;
	width:50%;
	height:260px;
	background-color:#f39100;
	padding-top:50px;
	padding-bottom:50px;
}
.i-demo-div-left-main{

	float:right;
	text-align:center;
}
.i-frame-video{

	width: 290px;
}
.i-demo-div-left-left{

	float:left;
	margin-right:25px;
}
.i-demo-div-left-right{

	float:left;	
	margin-right:30px;
}
.i-demo-div-left-demo{

	color:#ffffff;
	font-family: 'VISTASANSBOOK1361506783';
	font-size:25px;
	margin-top:15px;
	margin-bottom:2px;
}
.i-demo-div-left-p{

	color:#ffffff;
	font-family: 'VISTASANSBOOK1361506783';
	font-size:13px;	
}
.i-demo-div-right {

	float:left;
	width:50%;
	height:260px;
	background-color:#eb6501;
}
.i-demo-div-right-main{

	float:left;
	padding:15px 15px 5px 15px;
	width:100%;
}
.subcribite-text{

	color:#ffffff;
	font-family: 'VISTASANSBOOK1361506783';
	font-size:25px;
}
.subcribite-p{

	color:#ffffff;
	font-family: 'VISTASANSBOOK1361506783';
	font-size:13px;	
	margin-bottom: 10px;
}
.form-control-height-subcribite{

	height:30px !important;
	border-radius:8px !important;
}
.form-group-margin{

	margin-bottom:5px !important;
}
.btn-enviar{

	position:absolute;
	right:0;
	margin-top:10px;
	width:75px !important;
	height:30px !important;
	color:#ffffff;
	font-family: 'VISTASANSBOOK1361506783';
	font-size:14px;
	background-color:#a71380;
}
.btn-enviar:hover{

	background-color:#a71380 !important;	
	color:#ffffff !important;
}
.sm-margin{

	padding-right:0px !important;
}
.i-demo-div-right-left{

	float:left;
	margin-left:40px;
}
.i-demo-div-right-right{

	float:left;
	margin-top:15px;
	margin-left:15px;
}
.footer-section{

	float:left;
	width:100%;
	text-align:center;
	height:auto;
	padding-top:50px;
}
.footer-div-main{

	width:960px;
	display:inline-block;
}
.footer-slider{

	width:100%;
}
.pink-footer-left{

	position:absolute;
	top:50px;
	left:30px;
}
.pink-footer-right{

	position:absolute;
	top:50px;
	right:30px;
}
.owl-content-footer-p{

	width:260px;
	margin:auto;
	margin-top:25px;
}
.owl-content-footer-img{

	width:auto;
	height:auto;
}
.footer-social{

	float:left;
	margin-top:70px;
}
.footer-slider > .owl-carousel{

	padding-left:20px;
	padding-right:10px;
}
.fa-social-follow-div{

	float:left;
	margin-right: 10px;
    margin-top: 10px;
}
.fa-social-div{

	float:left;	
	margin-right: 5px;
}
.fa-facebook {
    background: #3a5997;
    border-radius: 50%;
    color: #ffffff;
    font-size: 16px;
    height: 40px;
    padding: 12px;
    width: 40px;
}
.fa-twitter {
    background: #2aa8e0;
    border-radius: 50%;
    color: #ffffff;
    font-size: 18px;
    height: 40px;
    padding: 12px;
    width: 40px;
}
.fa-google-plus {
    background: #dd4f43;
    border-radius: 50%;
    color: #ffffff;
    font-size: 16px;
    height: 40px;
    padding: 12px;
    width: 40px;
}
.fa-linkedin {
    background: #1c6598;
    border-radius: 50%;
    color: #ffffff;
    font-size: 16px;
    height: 40px;
    padding: 12px;
    width: 40px;
}
.fa-youtube-play {
    background: #ea3516;
    border-radius: 50%;
    color: #ffffff;
    font-size: 18px;
    height: 40px;
    padding: 12px;
    width: 40px;
}
.footer-ul-main{

	display:inline-block;
	width:100%;
	float:left;
	margin-top:40px;
}
.footer-ul-div{

	float:left;
	width:20%;
}
.footer-ul-div > ul{

	list-style:none;
	text-align:left;
	padding-left: 0px;
}
.footer-ul-div > ul > li > a{

	color:#666666;
	font-family: 'VISTASANSBOOK1361506783';
	font-size:14px;
}
.footer-ul-div:first-child > ul {

    padding-left: 0;
}
.footer-ul-div:nth-child(2) > ul {

    padding-left: 55px;
}
.footer-ul-div:nth-child(3) > ul {

    padding-left: 110px;
}
.footer-ul-div:nth-child(4) > ul {

    padding-left: 120px;
}
.footer-ul-div:last-child {

    position: relative;
}
.footer-ul-div:last-child > ul{

    position: absolute;
    right: 5px;
}

@media only screen and (max-width: 767px){

	.navbar-default .navbar-toggle{

		margin-top: 35px;
	}
	.logo-img {

    	width: 115px;
	}
	.header-nav-section{

		height: 670px;
	}
	.keyword-control{

		width: 180px !important;
	}
	.search-btn{

		width: 180px !important;	
		border-radius:5px;
	}
	.circle-form-tutor-main{
	
		width: 100px;		
	}
	.circle-form-student-main{

		width: 100px;		
		margin-left:0px;
	}
	.circle-form-exchange-main{

		width: 100px;
		margin-left:0px;
	}
	.how-it-work-div{

		width: 100%;
	}
	.tab-student-one-main{

		float: none;
		margin-right: 0px;
	}
	.tab-student-two-main{

		float: none;
		margin-right: 0px;
		margin-top: 10px;
	}
	.tab-student-three-main{

		float: none;
		margin-top: 10px;
	}
	.learn-today-div{

		width: 90%;
	}
	.owl-content-img{

		float: none;
		display: inline-block;
	}
	.owl-content-div{

		float: none;
	}
	.owl-content-text{

		float: none;	
		display: inline-block;
	}
	.owl-prev {

		margin-left: -10px;
	}
	.use-btc-slider > .owl-carousel > .owl-nav > .owl-prev {

		margin-left: 0px !important;		
	}
	.pink-left{

		margin-left: 0px !important;
	}
	.owl-next {

		margin-right: -10px;
	}
	.use-btc-slider > .owl-carousel > .owl-nav > .owl-next {

		margin-right: 0px !important;		
	}
	.use-btc-div{

		width: 100%;
	}
	.owl-content-btc-p{

		width: 150px;	
		display: inline-block;
	}
	.use-btc-slider{

		width: 90%;
		display: inline-block;
	}
	.popular-ads-div{

		padding:20px;
		width: 100%;
	}
	.popular-ads-books{

		margin-top: 40px;
		width: 100%;
	}
	.popular-ads-books-right{

		width: 190px;
	}

	.i-demo-div-left{

		width: 100%;
		height: 400px;
	}
	.i-demo-div-left-main{

		float: none;
	}
	.i-frame-video{

		width: 290px;
	}
	.i-demo-div-left-left{

		float: none;
	}
	.i-demo-div-left-right{

		float: none;
		margin-right: 0px;	
		margin-top: 10px;
	}
	.i-demo-div-right{

		width: 100%;	
		height: 400px;
		text-align: center;
	}
	.i-demo-div-right-main{

		display: inline-block;
		float: none;
	}
	.i-demo-div-right-left{

		float: none;
		margin-left: 0px;
    	margin-top: 20px;
	}
	.i-demo-div-right-right{

		float: none;
		margin-left: 0px;
	}
	.sm-margin{

		padding-left:0px !important;
	}
	.form-group-margin{

		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.btn-enviar{

		right: 15px;
	}
	.footer-div-main{

		width: 100%;
	}
	.owl-content-footer-p {

	    display: grid;
	    width: 200px;
	}
	.footer-ul-div{

		width: 50%;
	}
	.footer-ul-div:first-child > ul{

		padding-left: 55px;
	}
	.footer-ul-div:nth-child(2) > ul {

    	padding-left: 55px;
	}
	.footer-ul-div:nth-child(3) > ul {

    	padding-left: 55px;
	}
	.footer-ul-div:nth-child(4) > ul {

    	padding-left: 55px;
	}
	.footer-ul-div:last-child{

		position: static;
		width: 100%;
	}
	.footer-ul-div:last-child > ul{

		position: static;
	    padding-left: 55px;
	}	
	.footer-social{

		width: 100%;
	}
	.footer-social-inner{

		display: inline-block;
	}
}
@media  (min-width : 768px) and (max-width : 1024px){

	.circle-form-student-main{

		margin-left: 100px;
	}
	.circle-form-exchange-main{

		margin-left: 100px;	
	}
	.keyword-control{

		width: 200px !important;
	}
	.how-it-work-div{

		width: 100%;
	}
	.navbar-nav > li > a{

		padding-left :5px !important;
		padding-right:5px !important;
	}
	.logo-img{

		width: 120px;
	}
	.post-ads{

		width: 100px;
	}
	.learn-today-div {

	    display: inline-block;
	    width: 100%;
	}
	.learn-today-slider{

		display: inline-block;
	    width: 90%;	
	}
	.owl-prev{

		margin-left: -20px;
	}
	.use-btc-div{

		width: 100%;
	}
	.use-btc-slider{

		width: 90%;
		display: inline-block;
	}
	.popular-ads-div{

		padding:10px;
		width: 100%;
	}
	.i-demo-div-left-left{

		margin-right: 15px;
	}
	.i-demo-div-left-right{

		margin-right: 10px;	
	}
	.i-demo-div-right-main{

		padding: 15px 5px 5px;
	}
	.i-demo-div-right-left{

		margin-left: 15px;
	}
	.i-demo-div-right-right{

		margin-left: 10px;	
	}
	.subcribite-text{

		font-size: 20px;
	}
	.subcribite-p{

		font-size: 11px;
	}
	.sm-margin {

	    padding-left: 0;
	    padding-right: 0;
	}
	.form-group-margin{

		margin-left: 0px !important;
		margin-right: 0px !important;	
	}
	.btn-enviar{

		right: 15px;
	}
	.i-frame-video{

		width: 225px;
	}
	.footer-div-main{

		width: 100%;
	}
	.footer-social{

		margin-left:30px; 
	}
	.footer-ul-main{

		margin-left:30px; 	
	}
	.footer-ul-div:nth-child(2) > ul {

    	padding-left: 55px;
	}
	.footer-ul-div:nth-child(3) > ul {

    	padding-left: 55px;
	}
	.footer-ul-div:nth-child(4) > ul {

    	padding-left: 55px;
	}
	.footer-ul-div:last-child > ul{

		position: static;
	    padding-left: 50px;
	}	
}